{% extends "Recipe/base.html" %}

{% block content %}

<div class="health-diet-container">
    <h1>Health and Diet Recipes</h1>
    <p>Discover delicious and nutritious recipes designed to support your health and wellness goals.</p>

        <div class="recipe-card">
        <h2>🥩 Keto</h2>
        <p>Low-carb meals like grilled chicken and avocado dishes.</p>
    </div>

    <div class="recipe-card">
        <h2>🥕 Vegetarian</h2>
        <p>Plant-based recipes full of flavor and nutrition.</p>
    </div>
    
</div>

{% endblock %}