{% extends "Recipe/base.html" %}

{% block content %}

<div class="holidays-container">
    <h1>Holiday Recipes</h1>
    <p>Discover delicious and nutritious recipes designed to support your health and wellness goals.</p>

        <div class="recipe-card">
        <h2>💖 Mother's Day</h2>
        <p>Make your mom feel special with sweet desserts and breakfast ideas.</p>
    </div>

    <div class="recipe-card">
        <h2>🎆 New Year</h2>
        <p>Celebrate with party food, drinks, and delicious snacks.</p>
    </div>

</div>

{% endblock %}