{% extends "Recipe/base.html" %}

{% block content %}

<div class="container">

    <div class="detail-container">

        <h1>{{ recipe.title }}</h1>
        
        <h3>⭐ Average Rating: {{ avg_rating|default:"No rating yet" }}</h3>

        <form method="POST" action="{% url 'favourite' recipe.id %}" id="fav-form">
            {% csrf_token %}
            
            <button type="submit" id="fav-btn">
                {% if is_favourite %}
                    ❤️ Saved
                {% else %}
                    🤍 Favourite
                {% endif %}
            </button>
        </form>

        <p class="recipe-meta">
            By {{ recipe.author }} | {{ recipe.created_at|date:"M d, Y" }}
        </p>

        <img src="{{ recipe.image.url }}" class="detail-image">

        <div class="detail-section">
            <h2>Description</h2>
            <p>{{ recipe.description|linebreaks  }}</p>
        </div>

        <div class="detail-section">
            <h2>Ingredients</h2>
            <p>{{ recipe.ingredients|linebreaks  }}</p>
        </div>

        <div class="detail-section">
            <h2>Instructions</h2>
            <ol>
                {% for step in recipe.instructions.splitlines %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>

        {% if user == recipe.author %}
        <div class="recipe-actions">
            <a href="{% url 'edit_recipe' recipe.id %}" class="btn">Edit</a>
            <br><br>
            <form method="POST" action="{% url 'delete_recipe' recipe.id %}">
        {% csrf_token %}
            <button onclick="return confirm('Are you sure?')">
                Delete
            </button>
            </form>
            
        </div>
        {% endif %}

    </div>

    <h3>Reviews</h3>

        {% for review in reviews %}
        <div class="review-card">
            <strong>{{ review.user.username }}</strong>
            ⭐ {{ review.rating }}/5
            <p>{{ review.comment }}</p>
            <small>{{ review.created_at }}</small>
        </div>
        {% endfor %}

    <a href="{% url 'add_review' recipe.id %}" class="btn add-btn">Add Review</a>

</div>

{% endblock %}